### Project Directories ###
**/[Bb]in/
**/[Oo]bj/
**/.vs/
/Migrations/
**/packages/  
**/TestResults/
**/wwwroot/lib/
**/.github/
**/bin/
**/obj/
**/log/
*.log
**/.metadata/
**/.git/

### Build/IDE Files ###
*.user
*.suo
*.userprefs
*.cache
*.vscode/
*.idea/
*.sln.im
*.swp
*.sublime-workspace
*.log
*.tmp
**/.project
**/.config/

### Dependencies ###
**/node_modules/
**/bower_components/
**/jspm_packages/
**/[Pp]ackages/

### Environment/Config ###
.env
.env.local
appsettings.Development.json
appsettings.local.json
local.settings.json  # Azure Functions
*.secrets.config
**/global.json      

### System Files ###
.DS_Store
Thumbs.db

### Test/Coverage ###
**/coverage/
*.coverage
*.coverage.xml

### Azure/Cloud ###
**/azds.yaml
*.azure/